{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ATHMA'23 | AWH Engineering College</title>
<link rel="shortcut icon" href="{% static 'mediastatic/assets/images/favicon.ico'%}">

<!-- Core Style Sheets -->
<link rel="stylesheet" href="{% static 'mediastatic/assets/css/master.css' %}">
<!-- Responsive Style Sheets -->
<link rel="stylesheet" href="{% static 'mediastatic/assets/css/responsive.css' %}">
<!-- Revolution Style Sheets -->
<link rel="stylesheet" type="text/css" href="{% static 'mediastatic/revolution/css/settings.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'mediastatic/revolution/css/layers.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'mediastatic/revolution/css/navigation.css'%}">
<link rel="stylesheet" href="{% static 'mediastatic/revolution/css/carousel.css'%}">

</head>
<body>

<!--== Loader Start ==-->
<div id="loader-overlay">
  <div class="loader">
    <div class="spinner-double-dot-in"></div>
  </div>
</div>
<!--== Loader End ==-->

<!--== Wrapper Start ==-->
<div class="wrapper">

  <!--== Header Start ==-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent dark bootsnav on no-full no-border studio brand-center">
  	<div class="container">
      <!--== Start Header Navigation ==-->
  
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="tr-icon ion-android-menu"></i> </button>
        <div class="logo"> <a href="/home"><img class="logo logo-display" src="{% static 'mediastatic/assets/images/typow.png' %}" alt=""> <img class="logo logo-scrolled" src="{% static 'mediastatic/assets/images/white typo.png' %}" alt=""> </a> </div>
      </div>
      <!--== End Header Navigation ==-->

      <!--== Collect the nav links, forms, and other content for toggling ==-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
          <li><a class="page-scroll" href="#home">Home</a></li>
          <li><a class="page-scroll" href="#feature">Features</a></li>
          <li><a class="page-scroll" href="#about">About</a></li>
          <li><a class="page-scroll" href="#team">Team</a></li>
          <li><a class="page-scroll" href="#work">Work</a></li>
          <li><a class="page-scroll" href="#pricing">Pricing</a></li>
          <li><a class="page-scroll" href="#blog">Blog</a></li>
          <li><a class="page-scroll" href="#contact">Contact</a></li>
          <li><a class="page-scroll" href="/logout">Log out</a></li>
        </ul>
      </div>
      <!--== /.navbar-collapse ==-->
    </div>

  </nav>
  <!--== Header End ==-->

  <!--== Hero Slider Start ==-->
  <div class="remove-padding transition-none" id="home">
    <div id="rev_slider_1174_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="inspiration-header" data-source="gallery" style="background-color:#f9f9f9;padding:0px;">
  <!-- START REVOLUTION SLIDER 5.4.1 fullscreen mode -->
  	<div id="rev_slider_1174_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
      <ul>	<!-- SLIDE  -->
      	<li data-index="rs-3238" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
      		<!-- MAIN IMAGE -->
          <canvas>
            
          </canvas>
          <style>* {margin: 0; padding: 0}
            canvas {display: block;}
            @media screen and (max-width: 550px) {
            canvas {display: block;}
              
              }
            
          </style>
      		<script>
            // Initialising the canvas
var canvas = document.querySelector('canvas'),
    ctx = canvas.getContext('2d');

// Setting the width and height of the canvas
canvas.width = window.innerWidth;
canvas.height =  window.innerHeight;

// Setting up the letters
var letters = 'ATHMA 23 ATHMA 23 ATHMA 23 ATHMA 23 ATHMA 23 ATHMA 23 ATHMA 23';
letters = letters.split('');

// Setting up the columns
var fontSize = 10,
    columns = Math.ceil(window.innerWidth / fontSize);




// Setting up the drops
var drops = [];
for (var i = 0; i < columns; i++) {
  drops[i] = 1;
}

// Setting up the draw function
function draw() {
  ctx.fillStyle = 'rgba(0, 0, 0, .1)';
  ctx.fillRect(0, 0, canvas.width, canvas.height);
  for (var i = 0; i < drops.length; i++) {
    var text = letters[Math.floor(Math.random() * letters.length)];
    ctx.fillStyle = '#ff2079';
    ctx.fillText(text, i * fontSize, drops[i] * fontSize);
    drops[i]++;
    if (drops[i] * fontSize > canvas.height && Math.random() > .95) {
      drops[i] = 0;
    }
  }
}

// Loop the animation
setInterval(draw, 33);
          </script>

         

          <!-- LAYERS -->

         
      		<!--Logo-->                                  
          <div class="tp-caption tp-resizeme rs-parallaxlevel-2" id="slide-3238-layer-12"
          data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
          data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
          data-fontsize="['80','80','80','60']"
          data-lineheight="['80','80','80','60']"
          data-width="['none','none','none','400']"
          data-height="none"
          data-whitespace="['nowrap','nowrap','nowrap','normal']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"y:-50px;rX:-90deg;sX:2;sY:2;opacity:0;","speed":2000,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":700,"to":"y:30px;rX:45deg;sX:0.8;sY:0.8;opacity:0;","ease":"Power2.easeInOut"}]'
          data-textAlign="['center','center','center','center']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11;border-width:0px;">
          <img src="{% static 'mediastatic/assets/images/icskl.png' %}" alt=""
            data-ww="['400px','400px','400px','400px']"
            data-hh="['400px','400px','400px','400px']"
            width="400" height="400" data-no-retina />
        </div>
     

          <div class="tp-caption tp-resizeme rs-parallaxlevel-2" id="slide-3238-layer-13"
          data-x="['center','center','center','center']" data-hoffset="['-8','-8','-8','-8']"
          data-y="['middle','middle','middle','middle']" data-voffset="['94','94','94','94']"
          data-fontsize="['20','20','20','25']"
          data-lineheight="['20','20','20','30']"
          data-width="['none','none','none','360']"
          data-height="none"
          data-whitespace="['nowrap','nowrap','nowrap','normal']"
          data-type="text"
          data-responsive_offset="on"
          data-frames='[{"from":"y:50px;rX:90deg;sX:2;sY:2;opacity:0;","speed":900,"to":"o:1;","delay":2150,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
          data-textAlign="['center','center','center','center']"
          data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]"
          data-paddingbottom="[0,0,0,0]"
          data-paddingleft="[0,0,0,0]"
          style="z-index: 11;border-width:0px;">
          <img src="{% static 'mediastatic/assets/images/typow.png' %}" alt=""
            data-ww="['200px','200px','200px','200px']"
            data-hh="['60px','60px','60px','60px']"
            width="200" height="120" data-no-retina />
        </div>
        
        <div class="tp-caption rev-btn rs-parallaxlevel-3" id="slide-3238-layer-14"
      			data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
      			data-y="['middle','middle','middle','middle']" data-voffset="['210','210','210','210']"
      			data-width="none"
      			data-height="none"
      			data-whitespace="nowrap"
      			data-type="button"
      			data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
      			data-responsive_offset="on"
      			data-responsive="off"
      			data-frames='[{"from":"y:100px;rX:90deg;opacity:0;","speed":1000,"to":"o:1;","delay":3100,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"150","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(32, 85, 199, 1.00);bs:solid;"}]'
      			data-textAlign="['left','left','left','left']"
      			data-paddingtop="[0,0,0,0]"
      			data-paddingright="[30,30,30,30]"
      			data-paddingbottom="[0,0,0,0]"
      			data-paddingleft="[30,30,30,30]"
      			style="z-index: 18; white-space: nowrap; font-size: 15px; line-height: 30px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family: 'Raleway Bold', sans-serif;background-color:rgb(255, 32, 121);border-color:rgba(0, 0, 0, 1.00);border-width:0px;border-radius:8px 8px 8px 8px;
            outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;letter-spacing:2px;cursor:pointer;">THE ANNUAL TECH FEST <h3><center>Welcome {{profile.fullname}}</center></h3></div>
        
        <!-- Scroll -->
      		<div class="tp-caption rev-scroll-btn revs-light rs-parallaxlevel-5 dark" id="slide-3238-layer-15"
      			data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
      			data-y="['bottom','bottom','bottom','bottom']" data-voffset="['50','50','50','50']"
      			data-width="35"
      			data-height="55"
      			data-whitespace="nowrap"
      			data-type="button"
      			data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":""}]'
      			data-basealign="slide"
      			data-responsive_offset="on"
      			data-responsive="off"
      			data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":3100,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
      			data-textAlign="['left','left','left','left']"
      			data-paddingtop="[0,0,0,0]"
      			data-paddingright="[0,0,0,0]"
      			data-paddingbottom="[0,0,0,0]"
      			data-paddingleft="[0,0,0,0]"
      			style="z-index: 19; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-weight: 400;border-color:rgb(255, 255, 255);border-style:solid;border-width:3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
            <span>
            </span>
          </div>
      	</li>
      </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div></div>
    </div>
  </div>

  <!--== Hero Slider End ==-->
  
  <div class="remove-padding transition-none" id="home">
    <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
    <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
    <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
        <ul>	<!-- SLIDE  -->
          <li data-index="rs-3045" data-transition="fadetoleftfadefromright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="{% static 'mediastatic/assets/images/slides/home-bg-3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
  
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-3046" data-transition="fadetoleftfadefromright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="{% static 'mediastatic/assets/images/slides/home-bg-3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
  
          </li>
          <!-- SLIDE  -->
          <li data-index="rs-3045" data-transition="fadetoleftfadefromright" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-rotate="0"  data-saveperformance="off"  data-title="" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
            <!-- MAIN IMAGE -->
            <img src="{% static 'mediastatic/assets/images/slides/home-bg-3.jpg' %}"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
            <!-- LAYERS -->
    
  
          </li>
  
        </ul>
        <div class="tp-bannertimer" style="height: 3px; background-color: rgba(255, 255, 255, 0.25);"></div>	</div>
      </div>
    </div>


  <!--== Who We Are Start ==-->
  <div id="blog" class="black-bg pt-120 pb-120">
    <div class="container">
      <div class="row">
        <div class="col-md-8 centerize-col text-center">
          <div class="section-title">
            <h1>Pre Events</h1>
            
          </div>
        </div>
      </div>
      <div id="slider" class="row mt-50">

          {% for specialevent in specialevents %}
          <input type="radio" name="slider" id="s{{specialevent.ids}}" checked>
          {% endfor %}


          {% for specialevent in specialevents %}
          <label for="s{{specialevent.ids}}" id="slide{{specialevent.ids}}"><img src="{{specialevent.poster.url}}" alt=""></label>
          {% endfor %}
      </div>
    </div>
  </div>

  <!--== Who We Are End ==-->



  <!--== Map Start ==-->
  <div class="container-fluid">
    <div class="row">
      <div class="wide" id="map-style-3"></div>
    </div>
  </div>
  <!--== Map End ==-->

  <!--== Contact Start ==-->
  <div class="black-bg pt-120 pb-120" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="section-title text-left">
            
            <h1>Contact Us</h1>
          </div>
          <div class="mt-50">
            <div class="icon-text feature-box-2 mb-30 clearfix">
              <div class="icon">
                <i class="icofont icofont-google-map font-30px white-color"></i>
              </div>
              <h3 class="mt-0">Our Campus</h3>
              <div class="dis">
                AWH Engineering College, Kutikkatoor, Kozhikode
              </div>
            </div>
            <div class="icon-text feature-box-2 mb-30 clearfix">
              <div class="icon">
                <i class="icofont icofont-iphone font-30px white-color"></i>
              </div>
              <h3 class="mt-0">Call Us</h3>
              <div class="dis">
                +1 719-338-4628
              </div>
            </div>
            <div class="icon-text feature-box-2 mb-30 clearfix">
              <div class="icon">
                <i class="icofont icofont-mail font-30px white-color"></i>
              </div>
              <h3 class="mt-0">Email Us</h3>
              <div class="dis">
                <a href="mailto:athma.com">support@athma.com</a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <form name="contact-form" id="contact-form" action="php/contact.php" method="POST" class="contact-form-style-01">
            <div class="messages"></div>
            <div class="row mt-50">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="name">Name</label>
                      <input type="text" name="name" class="md-input" id="name" placeholder="Name *" required data-error="Your Name is Required">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="email">Email</label>
                      <input type="email" name="email" class="md-input" id="email" placeholder="Email *" required="" data-error="Please Enter Valid Email">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="phone">Phone</label>
                      <input type="text" name="phone" class="md-input" id="phone" placeholder="Phone">
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                      <label class="sr-only" for="subject">Subject</label>
                      <input type="text" name="subject" class="md-input" id="subject" placeholder="Subject">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="form-group">
                  <label class="sr-only" for="message">Your Message *</label>
                  <textarea name="message" class="md-textarea" id="message" rows="7" required data-error="Please, Leave us a message" placeholder="Your Message*"></textarea>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12">
                <div class="text-left">
                  <button type="submit" name="submit" class="btn btn-color btn-md btn-default btn-animate remove-margin"><span>Send <i class="ion-android-arrow-forward"></i></span></button>
                </div>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <!--== Contact End ==-->

  <!--== Footer Start ==-->
  <footer class="footer">
    <div class="footer-copyright">
      <div class="container">
        <div class="row wow fadeInUp" data-wow-delay="0.1s">
          <div class="col-md-8 centerize-col text-center">
            <div class="footer-logo">
              <a href="index.html"><img src="{% static 'mediastatic/assets/images/typow.png' %}" class="img-responsive centerize-col" alt="Footer Logo"/></a>
            </div>
            <div class="copy-right">Made with ❤ Arfaz Khan & Sreekanth S</div>
            <ul class="social-media mt-30 float-none">
              <li><a href="#" class="icofont icofont-facebook"></a></li>
      			  <li><a href="#" class="icofont icofont-twitter"></a></li>
      			  <li><a href="#" class="icofont icofont-behance"></a></li>
      			  <li><a href="#" class="icofont icofont-dribble"></a></li>
              <li><a href="#" class="icofont icofont-linkedin"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--== Footer End ==-->

  <!--== Go to Top  ==-->
  <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
  <!--== Go to Top End ==-->

</div>
<!--== Wrapper End ==-->

<!--== Javascript Plugins ==-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1eO-IAC9PhPE5APzZDSs8W40ewuxnsu8"></script>
<script src="{% static 'mediastatic/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'mediastatic/assets/js/smoothscroll.js' %}"></script>
<script src="{% static 'mediastatic/assets/js/plugins.js' %}"></script>
<script src="{% static 'mediastatic/assets/js/master.js' %}"></script>

<!-- Revolution js Files -->
<script src="{% static 'mediastatic/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'mediastatic/revolution/js/revolution.extension.video.min.js' %}"></script>
<!--== Javascript Plugins End ==-->

</body>
</html>