{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Athma</title>
</head>
<body>
    <h1 class="hed">Hello Athma is here</h1>
    <h1><a href="{% url 'signup' %}">signup</a></h1>
    <h1><a href="{% url 'signin' %}">signin</a></h1>
    <h6><a href="/logout">Log Out</a></h6>
    <center>
        <img src="{% static 'mediastatic/images.jpg' %}" alt="Athma 2k22">
        {% for event in events %}
        <h1>{{ event.title }}</h1>
        <img src="{{ event.poster.url }}" alt="poster" width="500px" height="'600px">
        {% endfor %}
    </center>
</body>
</html>
