{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ATHMA'23 | AWH Engineering College</title>
  <link rel="shortcut icon" href="{% static 'mediastatic/assets/images/favicon.ico' %}">

  <!-- Core Style Sheets -->
  <link rel="stylesheet" href="{% static 'mediastatic/assets/css/master.css' %}">
  <!-- Responsive Style Sheets -->
  <link rel="stylesheet" href="{% static 'mediastatic/assets/css/responsive.css' %}">
  <!-- Revolution Style Sheets -->
  <link rel="stylesheet" type="text/css" href="{% static 'mediastatic/revolution/css/settings.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'mediastatic/revolution/css/team.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'mediastatic/revolution/css/navigation.css' %}">
  
 

</head>

<body>
  
  
  
  

  <!--== Loader Start ==-->
  <div id="loader-overlay">
    <div class="loader">
      <div class="spinner-double-dot-in"></div>
    </div>
  </div>
  <!--== Loader End ==-->

  <!--== Wrapper Start ==-->
  <div class="wrapper">

    <!--== Header Start ==-->
    <nav
      class="navbar navbar-default navbar-fixed navbar-transparent dark bootsnav on no-full no-border studio brand-center">
      <div class="container">
        <!--== Start Header Navigation ==-->


        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i
              class="tr-icon ion-android-menu"></i> </button>
          <div class="logo"> <a href="index.html"><img class="logo logo-display" src="assets/images/typow.png" alt="">
              <img class="logo logo-scrolled" src="assets/images/white typo.png" alt=""> </a> </div>
        </div>
        <!--== End Header Navigation ==-->

        <!--== Collect the nav links, forms, and other content for toggling ==-->
        <div class="collapse navbar-collapse" id="navbar-menu">

          <ul class="nav navbar-nav navbar-center" data-in="fadeIn" data-out="fadeOut">
            <li><a class="page-scroll" href="index.html">Home</a></li>
            <li><a class="page-scroll" href="about.html">About</a></li>
            <li><a class="page-scroll" href="index.html">Main Events</a></li>
            <li><a class="page-scroll" href="index.html">Pre Events</a></li>
            <li><a class="page-scroll" href="#team">Team</a></li>
            <li><a class="page-scroll" href="index.html">FAQ</a></li>
            <li><a class="page-scroll" href="index.html">Contact</a></li>
            <li><a class="page-scroll" href="index.html">Login</a></li>
          </ul>
          <ul>
            <li><a href="#" id="user-button"><i class="icofont icofont-user"></i> John Doe</a></li>
          </ul>

        </div>


        <!--== /.navbar-collapse ==-->
      </div>

    </nav>
   <!--== Team Start ==-->
  <div class="black-bg pt-120 pb-120" id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-8 centerize-col text-center">
          <div class="section-title">
            <h4 class="default-color">ATHMA 23</h4>
            <h1>Core Team</h1>
            <p>
                The Core Team of ATHMA 23 is a group of highly dedicated individuals responsible for organizing and managing the various technical events during the annual tech fest of AWH Engineering College, Kozhikode.</p>
          </div>
        </div>
      </div>
      <div class="row mt-50">
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.1s">
            <div class="team style-2 xs-mb-30 sm-mb-30">
              <div class="team-img">
                <img src="assets/images/team/team-01.jpg" alt="">
                <div class="social-icons-style-02">
                  <ul class="sm-icon mt-20 mb-0">
                    <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                    <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                    <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                    <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-info text-center">
                <h3>Bobby Castro</h3>
                <span class="title default-color">Project Manager</span>
              </div>
            </div>
          </div>
          <!--== Member End ==-->
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
            <div class="team style-2 xs-mb-30 sm-mb-30">
              <div class="team-img">
                <img src="assets/images/team/team-02.jpg" alt="">
                <div class="social-icons-style-02">
                  <ul class="sm-icon mt-20 mb-0">
                    <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                    <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                    <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                    <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-info text-center">
                <h3>Luara Prior</h3>
                <span class="title default-color">Marketing Manager</span>
              </div>
            </div>
          </div>
          <!--== Member End ==-->
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
            <div class="team style-2 xs-mb-30">
              <div class="team-img">
                <img src="assets/images/team/team-03.jpg" alt="">
                <div class="social-icons-style-02">
                  <ul class="sm-icon mt-20 mb-0">
                    <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                    <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                    <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                    <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-info text-center">
                <h3>Mike Jones</h3>
                <span class="title default-color">Graphics Designer</span>
              </div>
            </div>
          </div>
          <!--== Member End ==-->

          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
            <div class="team style-2">
              <div class="team-img">
                <img src="assets/images/team/team-04.jpg" alt="">
                <div class="social-icons-style-02">
                  <ul class="sm-icon mt-20 mb-0">
                    <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                    <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                    <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                    <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-info text-center">
                <h3>Heather Doe</h3>
                <span class="title default-color">CEO Company</span>
              </div>
            </div>
          </div>
          <!--== Member End ==-->
      </div>
<br><br><br><br><br><br>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-8 centerize-col text-center">
            <div class="section-title">
              
              <h1>Dev Team</h1>
              <p>
                The Dev Team of ATHMA 23 consists of 2 talented Front End Developers and 2 skilled Backend Developers. Together, they work diligently to ensure the smooth functioning and top-notch performance of our tech fest's website. From designing and coding to implementing and testing, they leave no stone unturned to provide the best user experience for our audience. Their expertise and dedication are instrumental in making ATHMA 23 a grand success. </p>
            </div>
          </div>
        </div>
        <div class="row mt-50">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.1s">
              <div class="team style-2 xs-mb-30 sm-mb-30">
                <div class="team-img">
                  <img src="assets/images/team/team-01.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Arfaz Khan</h3>
                  <span class="title default-color">Frontend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
              <div class="team style-2 xs-mb-30 sm-mb-30">
                <div class="team-img">
                  <img src="assets/images/team/team-02.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Gautham Krishna P</h3>
                  <span class="title default-color">Backend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
              <div class="team style-2 xs-mb-30">
                <div class="team-img">
                  <img src="assets/images/team/team-03.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Sreekanth S</h3>
                  <span class="title default-color">Frontend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
  
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
              <div class="team style-2">
                <div class="team-img">
                  <img src="assets/images/team/team-04.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Adeeb</h3>
                  <span class="title default-color">Backend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
        </div>
        <br><br><br><br><br><br>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 centerize-col text-center">
            <div class="section-title">
              
              <h1>Creative Team</h1>
              <p>
                The Creative Team of ATHMA 23 is a group of talented individuals who are passionate about delivering unique and engaging experiences through their creative skills. Comprising of skilled designers, artists, and creative thinkers, they bring innovation to the forefront of the event. This team is dedicated to making ATHMA 23 a truly unforgettable experience.   
            </p>
            </div>
          </div>
        </div>
        <div class="row mt-50">
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.1s">
              <div class="team style-2 xs-mb-30 sm-mb-30">
                <div class="team-img">
                  <img src="assets/images/team/team-01.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Arfaz Khan</h3>
                  <span class="title default-color">Frontend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
              <div class="team style-2 xs-mb-30 sm-mb-30">
                <div class="team-img">
                  <img src="assets/images/team/team-02.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Gautham Krishna P</h3>
                  <span class="title default-color">Backend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInDown" data-wow-delay="0.3s">
              <div class="team style-2 xs-mb-30">
                <div class="team-img">
                  <img src="assets/images/team/team-03.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Sreekanth S</h3>
                  <span class="title default-color">Frontend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
  
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.4s">
              <div class="team style-2">
                <div class="team-img">
                  <img src="assets/images/team/team-04.jpg" alt="">
                  <div class="social-icons-style-02">
                    <ul class="sm-icon mt-20 mb-0">
                      <li><a class="fb" href="#."><i class="icofont icofont-facebook"></i></a></li>
                      <li><a class="tw" href="#."><i class="icofont icofont-twitter"></i></a></li>
                      <li><a class="be" href="#."><i class="icofont icofont-behance"></i></a></li>
                      <li><a class="in" href="#."><i class="icofont icofont-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="team-info text-center">
                  <h3>Adeeb</h3>
                  <span class="title default-color">Backend Developer</span>
                </div>
              </div>
            </div>
            <!--== Member End ==-->
        </div>
  
      </div>

  </div>
  <!--== Team End ==-->

    <!--== Footer Start ==-->
    <footer class="footer">
      <div class="footer-copyright">
        <div class="container">
          <div class="row wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-md-8 centerize-col text-center">
              <div class="footer-logo">
                <a href="index.html"><img src="assets/images/typow.png" class="img-responsive centerize-col"
                    alt="Footer Logo" /></a>
              </div>
              <div class="copy-right">Made with ❤ Arfaz Khan, Sreekanth S, Gautham Krishna, Adeeb</div>
              <ul class="social-media mt-30 float-none">
                <li><a href="#" class="icofont icofont-facebook"></a></li>
                <li><a href="#" class="icofont icofont-twitter"></a></li>
                <li><a href="#" class="icofont icofont-behance"></a></li>
                <li><a href="#" class="icofont icofont-dribble"></a></li>
                <li><a href="#" class="icofont icofont-linkedin"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--== Footer End ==-->

    <!--== Go to Top  ==-->
    <a href="javascript:" id="return-to-top"><i class="icofont icofont-arrow-up"></i></a>
    <!--== Go to Top End ==-->
  
    
  </div>
  <!--== Wrapper End ==-->

  <!--== Javascript Plugins ==-->
 
  <script src="{% static 'mediastatic/assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'mediastatic/assets/js/smoothscroll.js' %}"></script>
  <script src="{% static 'mediastatic/assets/js/plugins.js' %}"></script>
  <script src="{% static 'mediastatic/assets/js/master.js' %}"></script>

  <!-- Revolution js Files -->
  <script src="{% static 'mediastatic/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.actions.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.carousel.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.kenburn.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.layeranimation.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.migration.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.navigation.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.parallax.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.slideanims.min.js' %}"></script>
  <script src="{% static 'mediastatic/revolution/js/revolution.extension.video.min.js' %}"></script>
  <!--== Javascript Plugins End ==-->

</body>

</html>